# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Pytest
.cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.orig
*.bak
*.tmp

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/